/* Alap elrendezés és stílusok */
.card-list-container {
    max-width: 1280px;
    margin: 2rem auto;
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
    list-style: none;
    background-color: #f9f9f9; /* Világos háttérszín */
    border-radius: 8px; /* Lekerekített sarkok */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Enyhe árnyék */
}

/* Gombok stílusai */
button {
    background-color: #FF9800;
    color: white;
    border: none;
    padding: 0.8em 1.2em;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #e68900;
    transform: scale(1.05);
}

button:focus-visible {
    outline: 4px solid #f0a500;
}

/* Töltő karika középre helyezése */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.filters {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.filters input,
.filters select {
    padding: 5px;
    font-size: 14px;
}


/* Média lekérdezés: kisebb képernyőkre optimalizálva */
@media (max-width: 768px) {
    .card-list-container {
        grid-template-columns: 1fr;
    }

    .button-style,
    .delete-button-style {
        font-size: 14px;
    }
}
