.main-container {
  text-align: center;
  padding: 20px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.button-container {
  margin-top: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-name {
  font-weight: bold;
  margin: 0;
}

.user-email {
  font-size: 0.8rem;
  color: #6c757d;
  margin: 0;
}
